.a{
    height: 300px;
    width: 200px;
}
.b{
    height: 300px;
    width: 200px;
}
.c{
    height: 300px;
    width: 200px;
}
.d{
    height: 300px;
    width: 200px;
}
.e{
    height: 300px;
    width: 200px;
}
.a:hover{
 filter: grayscale(0.9); 
}
.b:hover{
    filter:opacity(0.5);
}
.c:hover{
    filter:blur(5px);
}
.d:hover{
    filter: contrast(80%);
    filter: brightness(60%);
}
.e:hover{
    filter:hue-rotate(40deg);
    filter: drop-shadow(10px 5px 2px );
}